.contact-form {
    background: var(--background-contact-color);
    
}

.contact-main__section {
    margin: 0px 25px 15px 15px;
    padding: 25px 0;
    margin: auto;
}

.section__subheading {
    color: var(--section__subheading-color);
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: bold;
}

.contact-section__heading {
    color: var(--text-color);
    font-size: 34px;
    font-family: var(--font-header-title);
    padding: 24px;
}

.section-card__price-description {
    color: var(--text-color);
    font-size: 18px;
    font-family: var(--font-family);
    padding-bottom: 20px;
    padding-left: 20px;
}

.contact__map {
    width: 90%;
    height: 620px;
    margin: auto;
}

.frame-contact__map {
    height: 100%;
    width: 100%;
}

.contact__inputs,
.contact__textarea {
    width: 90%;
    font-size: 14px;
    font-family: var(--font-family);
    display: block;
    border: 0;
    background-color: var(--background-contact-color);
    padding: 14px 26px;
    color: var(--grey-small-text-color);
    font-weight: 700;
    margin: auto;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-radius: 0px;
    border-color: #191919;
}

.contact__textarea {
    resize: none;
    max-height: 150px;
    margin-bottom: 55px;
}

.contact__btn {
    display: block;
    width: 90%;
    height: 40px;
    padding: 14px 26px;
    margin: auto;
    font-family: var(--font-family);
    font-weight: 700;
    border: 0;
    background-color: var(--section__subheading-color);
    color: var(--text-color);
    cursor: pointer;
}

.contact_form-send ._error {
    box-shadow: 0 0 15px red;
}

.contact_form-send {
    position: relative;
}

.contact_form-send::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: var(--backg-form-load) url(/img/contact-form/loading.gif) center / 50px no-repeat;
    visibility: hidden;
    transition: all 0.5s ease 0s;
}

.contact_form-send._sending::after {
    opacity: 1;
    visibility: visible;
}

.contact__slider>img {
    width: 270px;
    padding: 15px;
}

@media (min-width:750px) {
    .contact-form__container {
        display: flex;
        padding: 0 24px;
        margin: auto;
    }

    .contact__map {
        margin: auto;
    }
}
@media (min-width: 1200px) {
    .contact-form__container {
        padding: 0px;
    }
}